# Project Backlog

Priority `[P: C|H|M|L]`. Status `[TODO|IN_PROGRESS|BLOCKED|DONE]`. Ids `EPIC-XX` > `TG-XX.Y` > `TSK-XX.Y.Z`. The grammar the harness parses is in the `backlog` skill; `python3 -m komodo tasks lint` checks it.

---

## [EPIC-01] <Initiative>
*Goal: <the outcome this epic delivers>*

### [TG-01.1] <Group title>
```yaml
type: feat
mode: parallel
```

#### [TSK-01.1.1] <Task title> [P: H] [TODO]
```yaml
files: [<path/to/file>, <path/to/file_test>]
done_when:
  - <command that exits zero when done>
context: [docs/spec/SDD.md#<section>]
```

#### [TSK-01.1.2] <Task title> [P: M] [TODO]
```yaml
files: [<path/to/other>]
done_when:
  - <command>
depends_on: [TSK-01.1.1]
```
